@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
// Colours

// Primary
$red: hsl(0, 100%, 68%);

// Neutral
$very-dark-blue: hsl(230, 29%, 20%);

$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h1,
.button-container,
button,
a {
  font-family: "Barlow Condensed", sans-serif;
}

// .page-container {
//   display: flex;
//   flex-direction: column;
//   // height: 100vh;
//   justify-content: center;
//   align-items: center;
// }

.main-content-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  height: 700px;
  max-width: 1440px;
  margin: auto;

  .col1 {
    padding: 3rem;
    height: 100%;
    min-width: 580px;
    img {
      margin-bottom: 125px;
    }
    .main-content {
      grid-area: main;
      margin-bottom: 15px;

      .title1 {
        display: flex;
        margin-bottom: 15px;
        align-items: center;

        p:nth-child(1) {
          color: white;
          background-color: black;
          padding: 5px 10px;
          border-radius: 15px;
          font-weight: 700;
          font-size: 0.8rem;
        }
        p:nth-child(2) {
          margin-left: 10px;
          font-size: 0.8rem;
          text-transform: uppercase;
          letter-spacing: 3px;
          color: $grayish-blue;
        }
      }
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 30px;
        color: $very-dark-blue;
      }
      .title2 {
        width: 280px;
        color: $dark-grayish-blue;
      }
    }
    .button-container {
      grid-area: action;
      display: flex;
      align-items: center;

      button {
        background-color: $red;
        border: none;
        border-radius: 5px;
        color: white;
        width: 175px;
        height: 45px;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 1px;
        transition: all 0.5s ease-in-out;

        &:hover {
          opacity: 0.5;
        }
      }

      p {
        color: $grayish-blue;
        margin-left: 1rem;
        text-transform: uppercase;
        letter-spacing: 3.5px;
      }
    }
  }

  .col2 {
    height: 100%;
    position: relative;
    .bg-color {
      position: absolute;
      height: 60%;
      top: 0;
      width: 100%;
      border-bottom-left-radius: 50px;
      z-index: -999;
      background-color: $light-grayish-blue;
    }

    img:nth-child(1) {
      display: none;
    }

    .nav-content {
      height: 150px;
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: auto;

      a {
        color: $very-dark-blue;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s ease-in-out;

        &:hover {
          text-decoration: underline;
          color: $very-dark-blue;
        }
      }

      .login {
        color: $grayish-blue;

        &:hover {
          color: $grayish-blue;
        }
      }

      .small-circle {
        content: "";
        width: 5px;
        height: 5px;
        background-color: $grayish-blue;
        border-radius: 50%;
      }
    }
  }
}
@media screen and (max-width: 675px) {
  .main-content-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 815px;
    width: 100%;
    .col1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      min-width: unset;
      img {
        display: none;
      }
      .main-content {
        h1 {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }

      .button-container {
        p {
          font-size: 1rem;
          letter-spacing: 2.5px;
        }

        button {
          width: 150px;
          height: 40px;
        }
      }
    }

    .col2 {
      position: relative;
      .nav-mobile-container {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
        align-items: center;

        img {
          display: unset;
          width: unset;
        }

        .menu-button {
          position: relative;

          .burger-bar1,
          .burger-bar2,
          .burger-bar3 {
            content: "";
            width: 28px;
            height: 3px;
            background-color: black;
            margin: 6px 0;
            transition: 0.4s;
          }
        }
      }

      .change {
        .burger-bar1 {
          transform: rotate(-45deg) translate(-8px, 5px);
        }
        .burger-bar2 {
          opacity: 0;
        }
        .burger-bar3 {
          transform: rotate(45deg) translate(-8px, -5px);
        }
      }

      .nav-content.active {
        display: unset;
        position: absolute;
        left: 50%;
        top: 55%;
        box-shadow: 5px 10px 18px #888888;
        padding: 1rem;

        transform: translate(-50%, -50%);

        width: 85%;
        height: fit-content;

        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        a {
          padding: 1rem;
          color: $very-dark-blue;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          transition: all 0.5s ease-in-out;

          &:hover {
            text-decoration: underline;
            color: $very-dark-blue;
          }
        }
        .login {
          color: $grayish-blue;
        }
        .small-circle {
          content: "";
          margin: 1rem;
          width: 90%;
          height: 1px;
          background-color: $grayish-blue;
          border-radius: unset;
        }
      }

      .bg-color {
        width: 50%;
        right: 0;
        height: 100%;
      }
      .nav-content {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }
}
